@import "scss/mixin.scss";
@import "scss/variables.scss";

.main {
    .detail {
        margin: 80px;

        &__img {
            img {
                display: block;
                width: 100%;
                transition: all 0.3s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__infor {
            font-size: 10px;

            ul {
                font-size: $fontSizeMain;

                li {
                    text-align: justify;

                    &:first-child {
                        font-weight: bold;
                        font-size: 1.5em;
                    }

                    &:last-child {
                        margin: 27px 0;

                        span {
                            color: red;
                            font-weight: bold;
                            font-size: 1.7em;

                            &:first-child {
                                text-decoration: line-through;
                            }

                            &:last-child {
                                margin-left: 20px;
                            }
                        }
                    }
                }

                .discount {
                    margin-top: 27px;

                    span {
                        padding: 8px 16px;
                        background-color: red;
                        color: white;
                        border-radius: 5px;
                    }

                    span:last-child {
                        margin-left: 10px;
                    }
                }

                li+li {
                    margin-top: 10px;
                }
            }

            &__add {
                margin-top: 10px;
                @include flexCenter();

                section {
                    .btnAnimation {
                        @include buttonAnimation(16px, 3rem, 10rem, 60%, white, $backgroundMain, rgb(13, 173, 66));
                    }

                    &:last-child {
                        margin-left: 20px;
                    }

                    &:last-child {
                        .btnAnimation {
                            @include buttonAnimation(16px, 3rem, 10rem, 60%, white, blue, rgb(16, 243, 232));
                        }
                    }
                }

            }
        }

        &__policy {
            &__head {
                font-size: 10px;
                @include flexCenter();
                border: 1px solid grey;
                padding: 5px;
                border-radius: 5px;

                img {
                    width: 45px;
                    margin-right: 8px;
                }

                section {
                    margin: 0 auto;
                    text-align: center;

                    img {
                        width: 12px;
                        margin-left: 4px;
                    }

                    span {
                        font-size: $fontSizeMain;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

            &__body {
                font-size: 10px;
                margin-top: 10px;
                border: 1px solid grey;
                padding: 10px;
                border-radius: 5px;

                &__title {
                    h1 {
                        font-size: $fontSizeMain;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $backgroundMain;
                        text-align: center;
                    }
                }

                &__content {
                    ul {
                        li {
                            background-color: $backgroundMain;
                            color: white;
                            margin-top: 10px;
                            padding: 5px;
                            border-radius: 5px;
                            @include flexCenter();

                            span {
                                font-size: $fontSizeMain;
                            }

                            .icon {
                                font-size: 2.2em;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Responsive
@include responsiveMainLg__ {
    .main {
        .detail {
            margin: 60px;
        }
    }
}

@include responsiveMainMd__ {
    .main {
        .detail {
            margin: 40px;
        }
    }
}

@include responsiveMainSm__ {
    .main {
        .detail {
            margin: 30px;

            &__img {
                img {
                    width: 250px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@include responsiveMainXs__ {
    .main {
        .detail {
            margin: 15px;

            &__img {
                img {
                    width: 250px;
                }
            }

            &__infor {
                font-size: 8px;

                &__add {
                    section {
                        .btnAnimation {
                            @include buttonAnimation(12px, 2.5rem, 8rem, 50%, white, $backgroundMain, rgb(13, 173, 66));
                        }

                        &:last-child {
                            .btnAnimation {
                                @include buttonAnimation(12px, 2.5rem, 8rem, 50%, white, blue, rgb(16, 243, 232));
                            }
                        }
                    }

                }
            }

            &__policy {

                &__head,
                &__body {
                    font-size: 8px;

                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}

@include responsiveXxs {
    .main {
        .detail {
            &__infor {
                ul {
                    li {
                        &:last-child {
                            span {
                                font-size: 1.3em;
                            }
                        }
                    }

                    .discount {
                        span:first-child {
                            display: none;
                        }

                        span:last-child {
                            margin: 0;
                        }
                    }
                }

                &__add {
                    section {
                        &:last-child {
                            .btnAnimation {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}