@import 'scss/variables.scss';
@import 'scss/mixin.scss';

.main {
    .contact {
        margin: 80px;
        padding: 0 80px;
        box-shadow: 0 0 5px 2px grey;
        border-radius: 5px;
        background-image: linear-gradient(to right, #1e1616, #d1392e);

        .row {
            justify-content: center;
            align-items: center;
        }

        &__form {
            .formGroup {
                font-size: 10px;
                color: white;

                h1 {
                    font-size: 3.2em;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1.7em;
                    margin-top: 8px;
                    color: red;
                    font-weight: bold;
                }

                input,
                textarea {
                    @include input(8px, 2px, white, 4px, $fontSizeMain);
                    width: 100%;
                    color: white;
                    border: transparent;
                    border-bottom: 1px solid white;
                    padding-left: 0;

                    &::placeholder {
                        color: white;
                    }
                }

                .submit {
                    width: 150px;
                    @include button(white, black, $fontSizeMain, 8px, 16px, 5px, 0.4s);
                    font-weight: bold;

                    &:hover {
                        box-shadow: 0 0 25px #0aeff7, 0 0 50px #0aeff7, 0 0 75px #0aeff7, 0 0 100px #0aeff7;
                        background-color: #0aeff7;
                        color: white;
                    }
                }
            }

            .formGroup+.formGroup {
                margin-top: 30px;
            }
        }

        &__me {
            img {
                width: 400px;
                height: 664px;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .map {
        margin: 80px;
        margin-top: 0;
        iframe {
            border-radius: 5px;
            width: 100%;
            height: 500px;
            box-shadow: 0 0 5px 2px grey;
        }
    }
}


// Responsive
@include responsiveMainLg__ {
    .main {
        .contact {
            margin: 60px;
            padding: 0 60px;
            &__form {
                .formGroup {
                    font-size: 9px;
                }
            }
        }

        .map {
            margin: 60px;
            margin-top: 0;
        }
    }
}

@include responsiveMainMd__ {
    .main {
        .contact {
            margin: 40px;
            padding: 0 40px;

            &__form {
                .formGroup {
                    font-size: 8px;
                }
            }

            &__me {
                img {
                    width: 350px;
                }
            }
        }

        .map {
            margin: 40px;
            margin-top: 0;
        }
    }
}

@include responsiveMainSm__ {
    .main {
        .contact {
            margin: 30px;
            padding: 0 30px;

            &__form {
                margin-top: 30px;

                .formGroup {
                    font-size: 8px;
                }

            }
        }

        .map {
            margin: 30px;
            margin-top: 0;
        }
    }
}

@include responsiveMainXs__ {
    .main {
        .contact {
            margin: 15px;
            padding: 0 15px;

            &__form {
                margin-top: 15px;

                .formGroup {
                    h1 {
                        font-size: 2.5em;
                    }
                }

                .formGroup+.formGroup {
                    margin-top: 15px;
                }
            }
        }

        .map {
            margin: 15px;
            margin-top: 0;
        }
    }
}