@import "scss/variables.scss";
@import "scss/mixin.scss";

.form {
    z-index: 3;
    transition: all 0.6s ease-in-out;
    // transform: translateX(150%);
    // opacity: 0;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    font-size: 10px;
    color: white;
    background-color: $backgroundDb;
    &__head {
        font-size: 1.8em;
        background-color: $backgroundDbContent;
        @include flexCenter();
        justify-content: space-between;
        padding: 20px;
        &__title {
            p {
                margin-top: 5px;
            }
        }
        &__back {
            .icon {
                font-size: 1.8em;
                cursor: pointer;
            }
        }
    }
    &__foot {
        font-size: 1.8em;
        @include flexCenter();
        background-color: $backgroundDbContent;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        &__cancel, &__add {
            flex-grow: 1;
            button {
                width: 100%;
                // @mixin button($bg-color, $color, $fs, $pd-tb, $pd-lr, $border-rd, $time) {
                @include button($backgroundDb, white, 0.9em, 10px, 10px, 5px, 0.3s);
                font-weight: bold;
            }
        }
        &__add {
            button {
                @include button($backgroundMain, white, 0.9em, 10px, 10px, 5px, 0.3s);
            }
            margin-left: 20px;
        }
    }
}