$backgroundMain: #049c62;
$backgroundFooter: #181821;
$fontSizeMain: 1.8em;

// Responsive 
$resMainLg__: 'screen and (max-width: 1199px)';
$resMainMd__: 'screen and (max-width: 991px)';
$resMainSm__: 'screen and (max-width: 767px)';
$resMainXs__: 'screen and (max-width: 575px)';

$resLg: 'screen and (min-width: 992px) and (max-width: 1199px)';
$resMd: 'screen and (min-width: 768px) and (max-width: 991px)';
$resSm: 'screen and (min-width: 576px) and (max-width: 767px)';
$resXs: 'screen and (min-width: 321px) and (max-width: 575px)';
$resXxs: 'screen and (max-width: 320px)';

$test: #14e765;
$backgroundDb: #1a1c23;
$backgroundDbContent: #121317;


// Swiper button icon prev"
$swiper-button-prev: "<BsFillArrowLeftCircleFill/>";
$swiper-button-next: "<BsFillArrowRightCircleFill/>";

// Swiper button next